.authCart{
    display: flex;
    align-items:center;
    font-size: 15px;
    font-weight: 400;
    line-height: 17px;
    
}
.auth{
    display: flex;
    align-items:center;
    border:none;
    background-color:transparent;
    margin-right: 50px;
    cursor: pointer;
    & svg{
        margin-right: 9px;
    }
    &:hover{
        color:var(--main-color);
    }
}
.cart{
    display: flex;
    align-items:center;
    &:hover{
        color:var(--main-color);
        & svg {
            & path{
                fill:var(--main-color);
            }
        }
    }
    svg{
        width: 16px;
        height: 16px;
        margin-right: 9px;
    }
}
@media only screen and (max-width: 1242px) {
    .auth{
        position: absolute;
        top:-37px;
        right: 0;
        margin-right: 0;
    }
}
@media only screen and (max-width: 998px) {
    .authCart{
        display: none;
    }
}