.wrap{
    padding: 0px 50px;
    display: flex;
    align-items:center;
& .profile{
    display: flex;
    position: relative;
    &:hover{
        & .profileTitle{
            color: var(--main-color);
        }
     }
    &Title{
        margin-right: 5px;
        display:flex;
        & svg{
            margin-right: 5px;
        }
        & span{
            border-bottom:1px dashed rgb(124, 118, 118);
        }
    }
    &Inner{
        padding-top:13px ;
        position: absolute;
        top:18px;
        z-index: 11111111111;
        background-color:var(--white-color);
        &List{
            display: flex;
            flex-direction: column;
            justify-content: center;
            & li {
                padding: 6px 10px;
                margin-bottom: 5px;
                width: 100%;
                &:hover{
                    background-color:rgb(238, 230, 230);
                    & a,button{
                        color:var(--main-color)
                    }
                }
                & a{
                    color:rgb(119, 118, 118);
                }
                & button{
                    border:none;
                    color:rgb(119, 118, 118);
                    background-color:transparent;
                }
            }
        }
    }
}
& .nameBonus{
    font-size: 14px;
    white-space: nowrap;
}
& .scoreBonus{
    white-space: nowrap;
    font-size: 14px;
    font-weight: 600;
    margin-left: 5px;
    color:var(--main-color)
}
}