.container{
    position: relative;
    z-index: 1;
    max-width: 1230px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    padding: 0 15px;
    overflow: visible;
   
}

@media only screen and (max-width: 1242px) {
    .container{
       max-width: 960px;
    }
}
@media only screen and (max-width: 998px) {
    .container{
        padding: 0 5px;
    }
}